local	all		postgres			peer


local 	all		all				peer

host	all		all	127.0.0.1/32		md5

host 	all		all	::1/128			md5


local 	replication	all				peer
host 	replication 	all	127.0.0.1/32		md5
host	replication	all	::1/128			md5

#repmgr

local	replication	repmgr				trust
host	replication	repmgr	127.0.0.1/32		trust
host	replication	all	{{ client_ip }}/32	trust
host	replication	repmgr	{{ node1_ip }}/32	trust
host	replication	repmgr	{{ node2_ip }}/32 	trust
host	replication	repmgr	{{ node3_ip }}/32	trust


local	repmgr		repmgr				trust
host	repmg		repmgr	127.0.0.1/32		trust
host	repmgr		all	{{ client_ip }}/32	trust
host	replication	repmgr	{{ node1_ip }}/32	trust
host	replication	repmgr	{{ node2_ip }}/32	trust
host	replication	repmgr	{{ node3_ip }}/32	trust
